@import 'normalize';

html {
	// font-size: 10px;
	font-size: calc(16px + (24 - 16) * (100vw - 300px)/(1200 - 300));
	position: relative;
}

img {
	max-width: 100%;
}

body {
	background:url('https://unsplash.it/1100/?random') center no-repeat;
	background-size: cover;
	min-height: 100vh;
	font-family: 'PT Serif', serif;
}

.wrapper {
	max-width: 1100px;
	width:90%;
	margin:0 auto;
}

ul {
	list-style: none;
	margin:0;
	padding:0;
}

.title, .againButton {
	text-align: center;
}

.title {
	background-color: rgba(239,239,239,0.5);
	width:50%;
	margin:0 auto 1rem;
	padding:0.5rem;
	h1 {
		margin: 0;
		// padding-top: 3rem;
		font-family: 'Poppins', sans-serif;
		// font-size: 7rem;
	}
	p {
		// font-size: 3rem;
		margin-top: 0;
		margin-bottom: 0;
	}
}

.againButton {
	margin-top: 1rem;
	font-size: 0.7rem;
	.again {
		padding:0.3rem;
		background-color: #fdfdfd;
		border:none;
		border-radius: 5px;
	}
}

a {
	display: inline-block;
	text-decoration: none;
}

.week {
	display: flex;
	justify-content:space-between;
	background-color: #fdfdfd;
	.week__day {
		flex:1;
		text-align: center;
		border-right:1px solid black;
		&:last-child {
			border-right:none;
		}
		h2 {
			border-bottom: 1px solid black;
			padding:0.3rem 0.5rem;
			margin: 0;
			font-size: 0.8rem;
			font-family: 'Poppins', sans-serif;
			// font-size: 2rem;
		}
	}
}

.day {
	min-height: 120px;
	.day__event {
		padding:0.3rem;
		min-height: 1px;
		font-size: 0.6rem;
		border-bottom: 1px solid black;
	}
}

.overlay {
	display: none;
	position: absolute;
	height:100%;
	width:100%;
	background-color: rgba(0,0,0,0.6);
	.overlay__modal {
		background-color: #fdfdfd;
		width:40%;
		margin:0 auto;
		transform:translateY(30%);
	}
}

.modal {
	padding:0.4rem;
	text-align: center;
	input {
		display: block;
		margin:0 auto 0.7rem;
		width:80%;
		font-size: 0.6rem;
		text-align: center;
		border:none;
		border-bottom: 1px solid black;
	}
	label {
		font-size: 0.7rem;
	}
	textarea {
		width:80%;
		margin-bottom: 0.4rem;
		text-align: center;
		font-size: 0.5rem;
		border:none;
		border-bottom: 1px solid black;
	}
	.modal__submit {
		width:30%;
		background-color: black;
		color:#fdfdfd;
		border:none;
		// padding:1rem;
		// font-size: 1.8rem;
		text-transform: uppercase;
		font-family: 'Poppins', sans-serif;
	}
}

footer {
	text-align: center;
	font-size: 0.7rem;
	margin-top: 4rem;
	a {
		color:black;
		&:hover {
			text-decoration: underline;
		}
	}
}

@import 'mediaQueries';
